@import url('https://fonts.googleapis.com/css2?family=Merriweather');

@import url('https://fonts.googleapis.com/css2?family=Poppins');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
}
body{
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width:100vw !important;
    overflow-x:hidden;
}
.text-box h1{
    font-size: 80px !important;
    font-family: "Bebas Neue", sans-serif !important;
    text-align: left !important;
}
.text-box h2{
    font-size: 50px !important;
    font-family: "Bebas Neue", sans-serif !important;
    text-align: left !important;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
}

.payment-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.payment-option {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 30%;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}